#engine/bin/
#*.xls
#engine/obj/
#gmotor/bin/
#gvisu/Resources/
#gvisu/bin/
#gvisu/obj/
#gvisu/publish/
#*.resx
#*.suo
#gmotor/obj/
#*.pfx
*.dll
*.pdb
*.exe
*.cache
*.application
*gvisu.exe.manifest

